{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Mon Portfolio{% endblock %}</title> {# Titre par défaut, surchargeable #}
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%22.9em%22 font-size=%2296%22>⚫️</text></svg>">

        {# On laissera ce block pour les futurs CSS #}
        {% block stylesheets %}
           <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}
    </head>
    <body>
        {# On ajoutera la navigation ici bientôt #}
        <header class="{{ is_homepage | default(false) ? 'transparent-header' : '' }}">
            <nav>
                <ul>
                    <li><a href="{{ path('app_home') }}">Accueil</a></li>
                    <li><a href="{{ path('app_realisations') }}">Réalisations</a></li>
                    <li><a href="{{ path('app_about') }}">À Propos</a></li>
                </ul>
            </nav>
        </header>

        <main class="{{ is_homepage | default(false) ? 'homepage-main' : '' }}">
            {% block body %}{% endblock %}
        </main>

        <footer class="{{ is_homepage | default(false) ? 'transparent-footer' : '' }}">
            <p>© {{ 'now'|date('Y') }} Fort Loop Studio</p>
        </footer>

        {% block javascripts %}
            <script src="{{ asset('app.js') }}"></script>
        {% endblock %}
    </body>
</html>