{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Mon Portfolio{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%22.9em%22 font-size=%2296%22>⚫️</text></svg>">

        {# Utilise encore_entry_link_tags pour le CSS compilé par Encore #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="{{ is_homepage | default(false) ? 'transparent-header' : '' }}">
            <nav>
                <ul>
                    <li><a href="{{ path('app_home') }}">Accueil</a></li>
                    <li><a href="{{ path('app_realisations') }}">Réalisations</a></li>
                    <li><a href="{{ path('app_about') }}">À Propos</a></li>
                    <li><a href="{{ path('app_contact') }}">Contact</a></li>
                </ul>
            </nav>
        </header>

        <main class="{{ is_homepage | default(false) ? 'homepage-main' : '' }}">
            {% block body %}{% endblock %}
        </main>

        <footer class="{{ is_homepage | default(false) ? 'transparent-footer' : '' }}">
             <p>© {{ 'now'|date('Y') }} Fort Loop Studio  - Tous droits réservés. </p>
        </footer>

        {# Utilise encore_entry_script_tags pour le JS compilé par Encore #}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>